$gray-color: #7ADECA;
$default-color: #9C9C9C;
$border-color: #E9E9E9;
$preview-text-color: #474747;
$icon-color: #d9d9d9;

.ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.error-warning {
    color: red;
    font-size: 12px;
}

.container {
    touch-action: manipulation;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: black;
}

.header-wrapper {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 10px;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;

    .left-text {
        color: #888888;
        font-size: 14px;
    }

    .center-text {
        color: #474747;
        font-size: 1rem;
        font-weight: bold;
    }

    .right-text {
        width: 62px;
        height: 24px;
        font-size: 14px;
        line-height: 24px;
        background: $gray-color;
        border-radius: 12px;
        color: white;
        text-align: center;
    }
}


.stage-one-container {
    min-height: 400px;
    padding: 10px;
    margin-top: 75px;

    .title-input {
        color: $default-color;
        height: 58px;
        border: none;
        border-bottom: 1px solid $border-color;
        font-size: 24px;
        margin-bottom: 10px;
        width: 100%;
        padding-left: 10px;

        &::-webkit-input-placeholder {
            color: $default-color;
            font-size: 24px;
        }
    }

    .toolbar-area {
        max-width: 100%;
        white-space: nowrap;
        margin-top: 12px;
        // overflow-x: scroll;
    }

    .editor-area {
        font-size: 16px;
        width: 100%;
        border-top: 1px solid #ccc;
        padding: 16px;
        margin-bottom: 20px;
        min-height: 360px;
        overflow-y: auto;
        background: $gray-color;
    }
}

.preview-article-page {
    padding: 20px;
    margin-top: 75px;

    .preview-article-title {
        font-size: 34px;
        font-weight: bolder;
        color: $preview-text-color;
        
        width: 80%;
    }

    .preview-article-author {
        color: $preview-text-color;
        font-size: 12px;
        margin-top: 8px;
    }

    .preview-article-maincontent {
        color: $preview-text-color;
        font-size: 16px;
        margin: 16px 0;
        display: flex;
        flex-direction: column;

        img {
            max-width: 94%;
            text-align: center;
            border-radius: 12px;
            justify-content: center;
            align-self: center;
        }
    }
}

.publish-article-page {
    background: #f5f5f5;
    height: 100%;
    padding: 20px 0;
    margin-top: 75px;

    .ant-upload-select {
        display: inherit;
    }

    .upload-surface-image-wrapper {
        width: 300px;
        height: 160px;
        text-align: center;
        border: 1px dashed #D9D9D9;
        margin: 0 auto;
        position: relative;
        background: #f5f5f5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: $icon-color;
        text-decoration: none;
        text-indent: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .upload-text-icon {
           font-size: 1rem;
           color: $icon-color; 
        }

        .upload-surface-input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

        &::hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
    }

    .surface-image-show-area {
        display: flex;
        padding: 0 40px;
        margin: 16px 0;

        .surface-image-show {
            width: 50px;
            height: 40px;
            border-radius: 8px;
            justify-content: flex-start
        }

        .remove-surface-image-icon {
            margin: 10px;
        }
    }

    .operate-add-label {
        min-height: 44px;
        line-height: 44px;
        background: #fff;
        padding-left: 16px;
        margin-top: 10px;

        .label-input {
            color: $default-color;
            height: 30px;
            border: 1px solid $border-color;
            font-size: 16px;
            width: 80%;
            padding-left: 10px;

            &::-webkit-input-placeholder {
                color: $default-color;
                font-size: 16px;
                
            }
        }

        .operate-text {
            color: $default-color;
            font-size: 16px;
        }

        .ant-input {
            width: 200px;
            margin: 0 8px 8px 0;
        }

        .ant-input-affix-wrapper {
            display: initial;
        }
    }

    .label-show-item {
        line-height: 10px;
        background: #ccc;
        font-size: 12px;
        padding: 2px 6px;
        margin-bottom: 2px;
        margin-right: 4px;
    }

    .black-operate-text {
        color: #1D1E1F;
        font-size: 16px;
    }

    .ant-upload-list {
        padding: 1rem;

        .ant-upload-list-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            padding: 2px 16px;
        }

        img {
            height: 50px;
            width: 60px;
            margin-right: 6px;
        }
    }

    .upload-list-inline {
        .ant-upload-list-item {
            float: left;
            width: 70px;
            margin-right: 8px;
        }
    }

    .upload-list-inline .ant-upload-animate-enter {
        animation-name: uploadAnimateInlineIn;
    }
    .upload-list-inline .ant-upload-animate-leave {
        animation-name: uploadAnimateInlineOut;
    }
}

.icon {
    &.icon-shangchuan,
    &.icon-add,
    &.icon-gongkai,
    &.icon-banquan {
        color: $default-color;
    }

    &.icon-shangchuan {
        font-size: 2rem;
    }

    &.icon-shanchu {
        margin-left: 6px;
    }

    &.icon-add,
    &.icon-gongkai,
    &.icon-banquan {
        font-size: 18px;
        margin-right: 20px;
        margin-top: 8px;
    }
}
